*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Times New Roman",serif;
}

body{
background:#eef3f9;
}

.app{
padding:40px;
}

.title{
text-align:center;
margin-bottom:40px;
color:#0f172a;
font-size:40px;
}

@media(max-width:768px){

.app{
padding:20px;
}

.title{
font-size:30px;
}

}